{% extends "base.html" %}
{% load static %}
{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
         id="navbarBlur"
         navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0 mx-4">CONTACT US</h6>
        </nav>
      </div>
    </nav>
    <style>
      .navbar-main.navbar-expand-lg{
            max-width: 19rem !important;
        }
        .container-fluid {
          max-width: 99%;
          overflow: hidden;
          padding: 0 20px; 
        }
    </style>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 mx-5">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3 mx-4">Detail</h6>
              </div>
            </div>
            <div class="container-fluid py-4">
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  
                  <table class="text-lg w-full font-sans table align-items-center mb-0">

                    <thead>
                      <tr class="bg-gray-700 text-white text-center ">
                        <th class="p-4 border">S NO.</th>
                        <th class="p-4 border">FULL NAME</th>
                        <th class="p-4 border">EMAIL</th>
                        <th class="p-4 border">NUMBER</th>
                        <th class="p-4 border">MESSAGE</th>
                        <th class="p-4 border">ACTION</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for objs in con %}
                        <tr class="text-center">
                          <td class="p-4 border">{{ forloop.counter }}</td>
                          <td class="p-4 border">{{ objs.name }}</td>
                          <td class="p-4 border">{{ objs.email }}</td>
                          <td class="p-4 border">{{ objs.number }}</td>
                          <td class="p-4 border">{{ objs.message }}</td>
                          
                          <td class="p-4 border">
                              <form method="POST" action="{% url 'delete_contact' pk=objs.pk %}">
                                {% csrf_token %}
                                <button type="button" class="btn-danger btn-lg" onclick="myFunction(event)">DELETE</button>
                                <p class="confirmation-msg"></p>
                              </form>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function myFunction(event) {
          var confirmation = confirm("Are you sure you want to delete?");
          if (confirmation === true) {
              // Continue with form submission (delete action)
              event.target.parentNode.submit(); // Manually submit the form
          } 
      }
    </script>
  {% endblock content %}
